{% extends "base.html" %}

{% block page_title %}Add A New Record{% endblock page_title %}

{% block content %}
<script type="text/javascript">
  $('#post-form').on('submit', function(event){
      event.preventDefault();
      console.log("form submitted!");  // sanity check
      create_mother();
  });
  
  function create_mother() {
	console.log("working");
	console.log($('#first_name').val());
  };
</script>

{% comment %}
<form action= "{% url 'post_request' %}" method="post" name="mother_form">
{% csrf_token %}
{% endcomment %}

<form action="/create_mother/" method="POST" id="post-form">
<p><b>First name: </b> <input type="text" id="first_name" name="first_name" /></p>
<p><b>Last name: </b> <input type="text" id="last_name" name="last_name" /></p>
<p><b>Date of birth: </b> <input type="date" id="date_of_birth" name="date_of_birth" /></p>
<p><b>Status: </b> <select id="status">
                      <option value="p">Pregnant</option>
                      <option value="pp">Postpartum</option>
                      <option value="dc">Deceased</option>
                    </select>
<p><b>Height (cm): </b> <input type="number" id="height" name="height" /></p>

<button class="updateButton">Submit</Button>
</form>

{% endblock %}



