{% extends "base.html" %}

{% block nav %}
{% if category == 'all' %}<li class="active"><a href="#">{% else %}<li><a href="/mothers/list/all">{% endif %}All Maternal Records</a></li>
{% if category == 'pregnant' %}<li class="active"><a href="#">{% else %}<li><a href="/mothers/list/pregnant">{% endif %}Pregnant Mothers</a></li>
{% if category == 'postpartum' %}<li class="active"><a href="#">{% else %}<li><a href="/mothers/list/postpartum">{% endif %}Postpartum Mothers</a></li>
{% if category == 'deceased' %}<li class="active"><a href="#">{% else %}<li><a href="/mothers/list/deceased">{% endif %}Deceased Mothers</a></li>
<li><a href="/accounts/logout">Logout</a></li>
{% endblock nav %}

{% block page_title %}All Maternal Records{% endblock page_title %}

{% block content %}
<table class="table-bordered table-condensed">
  <tr>
    <th>Date Added</th>
    <th>Photo</th>
    <th>Name</th>
    <th>Status</th>
  </tr>
{% for mother in object_list %}
  <tr>
    <td><span title="{{ mother.created_at|date:"Y-m-d H:i:s" }}">{{ mother.created_at|timesince:now }} ago</span></td>
    <td><a href="{{ mother.photo.url }}"></a></td>
    <td><a href="/mothers/manage/{{ mother.id }}">{{ mother.full_name }}</a></td>
    <td>{{ mother.get_status_display }}</td>
  </tr>
{% empty %}
  <tr><td colspan="9">No records yet.</td></tr>
{% endfor %}
</table>
{% endblock content %}
